<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>LoRa Google Maps</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        html, body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        }
        #map {
        height: 100%;
        width: 100%;
        }
    </style>
</head>
<body>
    
<div id="map"></div>

<script>
/*
refs:
http://www.oxxostudio.tw/articles/201801/google-maps-4-more-markers.html
http://www.oxxostudio.tw/articles/201802/google-maps-12-rect-circle.html
*/
var map

var positions = [{
  lat: 24.96715, // hscclab
  lng: 121.18766
}, {
  lat: 24.96822, // lib
  lng: 121.19437
}, {
    lat: 24.97154, // sci5
    lng: 121.19268
}]

var prev_circle_radius = [0, 0, 0]
var circle_radius = [0, 0, 0] // radius
var circles = []
var markers = []

function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
        zoom: 16,
        center: positions[1]
    })
    refresh(function () {
        updateMarker()
    })
}

function updateMarker() {
    positions.forEach(function(e, i) {
        if (prev_circle_radius[i] != circle_radius[i]) {
            if (markers[i]) {
                markers[i].setMap(null)
            }
            if (circles[i]) {
                circles[i].setMap(null)
            }
            circles[i] = new google.maps.Circle({
                center: e,
                radius: circle_radius[i],
                strokeOpacity: 0,
                fillColor: '#f00',
                fillOpacity: 0.35,
                map: map,
            })
            markers[i] = new google.maps.Marker({
                position: e,
                map: map,
                label: circle_radius[i].toString(),
                animation: google.maps.Animation.DROP
            })
            prev_circle_radius[i] = circle_radius[i]
        }
    })
}
function refresh(callback) {
    let prefix = window.location.protocol + '//' + window.location.host
    let url = 'distance'
    let xhr = new XMLHttpRequest()
    xhr.open('GET', `${prefix}/${url}`)
    xhr.onload = function() {
        if (xhr.status === 200) {
            let res = JSON.parse(xhr.responseText)
            console.log(res)
            circle_radius = [parseInt(res['hscclab']), parseInt(res['lib']), parseInt(res['sci5'])]
            callback()
        } else {
            alert('Request failed.  Returned status of ' + xhr.status)
        }
    }
    xhr.send()
}

setInterval(function () {
    refresh(function () {
        updateMarker()
    })
}, 5000)

</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ key }}&callback=initMap" async defer></script>
</body>
</html>
